In [66]:
import pandas as pd

In [67]:
df = pd.read_csv("C:\\Users\\enric\\Downloads\\dataset_concatenato.csv", low_memory = False)

In [68]:
df.columns

Index(['player', 'team', 'mp', 'PTS', 'REB', 'AST', 'STL', 'BLK', 'TO', 'FGA',
       'FTA', 'FG_PCT', 'game_date', 'team_score', 'opponent_score', 'TS%',
       'TOV%', 'GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION',
       'TEAM_CITY', 'MIN', 'FGM', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FT_PCT',
       'OREB', 'DREB', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [69]:
dfna = df.isna()

In [70]:
df.dtypes

player                object
team                  object
mp                   float64
PTS                  float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
FGA                  float64
FTA                  float64
FG_PCT               float64
game_date             object
team_score           float64
opponent_score       float64
TS%                  float64
TOV%                 float64
GAME_ID              float64
TEAM_ID              float64
TEAM_NAME             object
TEAM_ABBREVIATION     object
TEAM_CITY             object
MIN                   object
FGM                  float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
PF                   float64
PLUS_MINUS           float64
dtype: object

In [71]:
dfna = dfna[(dfna['GAME_ID'] == True) & (dfna['TEAM_ID'] == True) & (dfna['TEAM_NAME'] == True) & (dfna['TEAM_ABBREVIATION'] == True) & (dfna['TEAM_CITY'] == True) & (dfna['MIN'] == True) & (dfna['FGM'] == True) & (dfna['FG3M'] == True) & (dfna['FG3A'] == True) & (dfna['FG3_PCT'] == True) & (dfna['FTM'] == True) & (dfna['FT_PCT'] == True) & (dfna['OREB'] == True) & (dfna['DREB'] == True) & (dfna['PF'] == True) & (dfna['PLUS_MINUS'] == True)]

In [72]:
len(dfna)

34598

In [73]:
len(df)

34602

In [74]:
df['FG_PCT'].max()

1.0

In [75]:
columns_to_drop = ['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'MIN', 'FGM', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FT_PCT', 'OREB', 'DREB', 'PF', 'PLUS_MINUS']

In [76]:
df =  df.drop(columns = columns_to_drop)

In [77]:
df.columns

Index(['player', 'team', 'mp', 'PTS', 'REB', 'AST', 'STL', 'BLK', 'TO', 'FGA',
       'FTA', 'FG_PCT', 'game_date', 'team_score', 'opponent_score', 'TS%',
       'TOV%'],
      dtype='object')

In [78]:
df.head()

,player,team,mp,PTS,REB,AST,STL,BLK,TO,FGA,FTA,FG_PCT,game_date,team_score,opponent_score,TS%,TOV%
0,Max Strus,CLE,28.283333,10.0,1.0,0.0,1.0,1.0,1.0,9.0,2.0,0.444,2023-11-03,116.0,121.0,0.506073,0.091912
1,Evan Mobley,CLE,35.850000,14.0,10.0,5.0,3.0,4.0,2.0,13.0,0.0,0.538,2023-11-03,116.0,121.0,0.538462,0.133333
2,Jarrett Allen,CLE,21.116667,10.0,7.0,0.0,1.0,2.0,1.0,6.0,3.0,0.667,2023-11-03,116.0,121.0,0.683060,0.120192
3,Donovan Mitchell,CLE,36.650000,38.0,5.0,9.0,1.0,0.0,3.0,21.0,10.0,0.619,2023-11-03,116.0,121.0,0.748031,0.105634
4,Darius Garland,CLE,31.983333,14.0,0.0,6.0,2.0,1.0,4.0,11.0,4.0,0.455,2023-11-03,116.0,121.0,0.548589,0.238663

In [79]:
sigle = df['team'].unique()

In [80]:
sigle

array(['CLE', 'IND', 'NYK', 'MIL', 'WAS', 'MIA', 'BKN', 'CHI', 'GSW',
       'OKC', 'DAL', 'DEN', 'MEM', 'POR', 'PHI', 'DET', 'CHA', 'BOS',
       'NOP', 'HOU', 'UTA', 'MIN', 'SAS', 'LAC', 'LAL', 'PHX', 'SAC',
       'ATL', 'ORL', 'TOR', nan], dtype=object)

In [81]:
dfna = df.isna()

In [83]:
dfna[dfna['team'] == True]

,player,team,mp,PTS,REB,AST,STL,BLK,TO,FGA,FTA,FG_PCT,game_date,team_score,opponent_score,TS%,TOV%
32443,True,True,True,False,False,False,False,False,False,False,False,False,True,True,True,True,True
32444,True,True,True,False,False,False,False,False,False,False,False,False,True,True,True,True,True
32614,True,True,True,False,False,False,False,False,False,False,False,False,True,True,True,True,True
32615,True,True,True,False,False,False,False,False,False,False,False,False,True,True,True,True,True

In [85]:
df = df.drop(index=[32443, 32444, 32614, 32615])

In [98]:
sigle = df['team'].unique()

In [99]:
sigle

array(['CLE', 'IND', 'NYK', 'MIL', 'WAS', 'MIA', 'BKN', 'CHI', 'GSW',
       'OKC', 'DAL', 'DEN', 'MEM', 'POR', 'PHI', 'DET', 'CHA', 'BOS',
       'NOP', 'HOU', 'UTA', 'MIN', 'SAS', 'LAC', 'LAL', 'PHX', 'SAC',
       'ATL', 'ORL', 'TOR'], dtype=object)

In [86]:
infortuni = pd.read_csv("C:\\Users\\enric\\OneDrive\\Desktop\\UNI\\Data Management Lab\\basketball_transactions.csv")

In [87]:
infortuni.head()

,Date,Team,Acquired,Relinquished,Notes
0,2023-04-29,Warriors,NaN,• Patrick Baldwin Jr.,placed on IL with toe injury
1,2023-04-30,76ers,• Danuel House Jr.,NaN,activated from IL
2,2023-05-02,Heat,NaN,• Jimmy Butler,placed on IL with sprained right ankle
3,2023-05-03,76ers,• Joel Embiid,NaN,activated from IL
4,2023-05-05,Celtics,NaN,• Blake Griffin,placed on IL with sore lower back

In [88]:
squadre = infortuni['Team'].unique()

In [89]:
squadre

array(['Warriors', '76ers', 'Heat', 'Celtics', 'Knicks', 'Bulls', 'Suns',
       'Pelicans', 'Hornets', 'Grizzlies', 'Rockets', 'Cavaliers',
       'Clippers', 'Kings', 'Pistons', 'Thunder', 'Timberwolves',
       'Wizards', 'Blazers', 'Hawks', 'Nets', 'Bucks', 'Raptors',
       'Lakers', 'Mavericks', 'Pacers', 'Spurs', 'Magic', 'Nuggets',
       'Jazz'], dtype=object)

In [100]:
sigle

array(['CLE', 'IND', 'NYK', 'MIL', 'WAS', 'MIA', 'BKN', 'CHI', 'GSW',
       'OKC', 'DAL', 'DEN', 'MEM', 'POR', 'PHI', 'DET', 'CHA', 'BOS',
       'NOP', 'HOU', 'UTA', 'MIN', 'SAS', 'LAC', 'LAL', 'PHX', 'SAC',
       'ATL', 'ORL', 'TOR'], dtype=object)

In [101]:
sigla_to_nome = {
    'CLE': 'Cavaliers',
    'IND': 'Pacers',
    'NYK': 'Knicks',
    'MIL': 'Bucks',
    'WAS': 'Wizards',
    'MIA': 'Heat',
    'BKN': 'Nets',
    'CHI': 'Bulls',
    'GSW': 'Warriors',
    'OKC': 'Thunder',
    'DAL': 'Mavericks',
    'DEN': 'Nuggets',
    'MEM': 'Grizzlies',
    'POR': 'Blazers',
    'PHI': '76ers',
    'DET': 'Pistons',
    'CHA': 'Hornets',
    'BOS': 'Celtics',
    'NOP': 'Pelicans',
    'HOU': 'Rockets',
    'UTA': 'Jazz',
    'MIN': 'Timberwolves',
    'SAS': 'Spurs',
    'LAC': 'Clippers',
    'LAL': 'Lakers',
    'PHX': 'Suns',
    'SAC': 'Kings',
    'ATL': 'Hawks',
    'ORL': 'Magic',
    'TOR': 'Raptors'
}

df['team'] = df['team'].map(sigla_to_nome)

In [102]:
df['team'].unique()

array(['Cavaliers', 'Pacers', 'Knicks', 'Bucks', 'Wizards', 'Heat',
       'Nets', 'Bulls', 'Warriors', 'Thunder', 'Mavericks', 'Nuggets',
       'Grizzlies', 'Blazers', '76ers', 'Pistons', 'Hornets', 'Celtics',
       'Pelicans', 'Rockets', 'Jazz', 'Timberwolves', 'Spurs', 'Clippers',
       'Lakers', 'Suns', 'Kings', 'Hawks', 'Magic', 'Raptors'],
      dtype=object)

In [103]:
df.to_csv('dataset_completo.csv', index=False)